<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %}active{% endif %}" href="{% url 'accounts:dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/my-orders/' in request.path %}active{% endif %}" href="{% url 'accounts:my_orders' %}"> My orders </a>
        <a class="list-group-item {% if '/edit-profile/' in request.path %}active{% endif %}" href="{% url 'accounts:edit_profile' %}"> Edit profile </a>
        <a class="list-group-item {% if '/change-password/' in request.path %}active{% endif %}" href="{% url 'accounts:change_password' %}">Change password </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'accounts:user_logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    <a class="btn btn-light btn-block" href="{% url 'accounts:remove_account' %}" onclick="return confirm('Are you sure you want to remove your account including all related content ?')"> <i class="fa fa-remove"></i> <span class="text">Remove account</span></a> 
    <!--   SIDEBAR .//END   -->
</aside>