<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-8 d-flex justify-content-between text-center footer-content">
				<a href="https://github.com/wiktorpiela" target="_blank">
					<p class="text-muted">
						<ion-icon name="logo-github"></ion-icon> My Github
					</p>
				</a>
				<a href="mailto:wpiela9@gmail.com">
					<p class="px-2 text-muted">
						<ion-icon name="mail"></ion-icon>Contact me
					</p>
				</a>
				<a href="https://www.linkedin.com/in/wiktor-p-44347b207/" target="_blank">
					<p class="px-2 text-muted">
						<ion-icon name="logo-linkedin"></ion-icon>LinkedIn
					</p>
				</a>
			</div>
		</section>
	</div><!-- //container -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

</body>
</html>